// Created by Zack Sheppard (zacksheppard.com) - May 2019

/* Variables */

$color-primary: #284b63;
$color-base: #021114;
$color-excerpt: #021114;
$color-secondary: #d90429;
$color-border: #cbcecf;

$color-bg: #fff;

$font-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI",
  "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", sans-serif;

$font-serif: Georgia, Times, serif;

$font-mono: "Roboto Mono", Menlo, Courier, monospace;
$font-light: 100;
$font-normal: 400;
$font-bold: 700;
$font-heavy: 800;

$height: 4rem;
$margin: 2rem;
$radius: 0.6rem;

$default-container-max-width: 1140px;
$post-max-width: 720px;
$post-wide-max-width: 960px;
